# PC Express (Maxi) OAuth2
PCEXPRESS_REFRESH_TOKEN=
PCEXPRESS_CLIENT_SECRET=C1xujSegT5j3ap3yexJjqhOfELwGKYvz

# Centro de busca (Montreal - Plateau)
CENTER_POSTAL_CODE=H2T1S8
CENTER_LAT=45.5225
CENTER_LON=-73.5940
RADIUS_KM=50

# Cache
CACHE_DIR=cache
DB_PATH=cache/prices.db
